{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<!-- Main content container -->
<div class="container mb-2 text-black">
    <!-- Introduction and title for the FAQ form page -->
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-black text-center">{% if faq %}Edit FAQ{% else %}Add New FAQ{% endif %}</h2>
            <hr>
        </div>
    </div>

    <!-- FAQ form content -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.question.id_for_label }}">Question:</label>
                    {{ form.question }}
                </div>
                <div class="form-group">
                    <label for="{{ form.answer.id_for_label }}">Answer:</label>
                    {{ form.answer }}
                </div>
                <div class="form-group">
                    <label for="{{ form.category.id_for_label }}">Category:</label>
                    {{ form.category }}
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-black rounded-0">
                        <span class="icon">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text-uppercase">{% if faq %}Review Changes{% else %}Save{% endif %}</span>
                    </button>
                    <a href="{% url 'faq_list' %}" class="btn btn-outline-black rounded-0">
                        <span class="icon">
                            <i class="fas fa-times"></i>
                        </span>
                        <span class="text-uppercase">Cancel</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Add Bootstrap classes to form fields
    $('#{{ form.question.id_for_label }}').addClass('form-control');
    $('#{{ form.answer.id_for_label }}').addClass('form-control');
    $('#{{ form.category.id_for_label }}').addClass('form-control');
</script>
{% endblock %}