<footer class="footer py-4 mt-auto">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 text-lg-start">
                <h5>Contact</h5>
                <span>
                    <p><strong>Email:</strong> info@seedandsprout.com ⏐ Phone: (123) 456-7890</p>
                </span>
                <p><strong>Phone hours:</strong> mon-thurs 9-15 ⏐ Closed for lunch 12-12.30</p>
            </div>
            <div class="col-md-6 text-lg-start">
                <h5 class="text-center">Follow Us</h5>
                <div class="social-icons text-center">
                    <a class="btn-black" href="https://www.instagram.com/" role="button" target="_blank"
                        aria-label="Link to our Instagram"><i class="fa fa-instagram"></i></a>
                    <a class="btn-black" href="https://github.com/KikiBerg/pp5-ecommerce" role="button" target="_blank"
                        aria-label="Link to our Github"><i class="fab fa-github"></i></a>
                </div>
            </div>            
        </div>
    </div>
</footer>