<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vegetables
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=vegetable_seeds" class="dropdown-item">All Vegetable seeds</a>
                <a href="{% url 'products' %}?category=vegetable_seeds&sort=name&direction=asc" class="dropdown-item ">By Name</a>
                <a href="{% url 'products' %}?category=vegetable_seeds&sort=sowing_season&direction=asc" class="dropdown-item ">By Sowing Season</a> 
                <a href="{% url 'products' %}?category=vegetable_seeds&sort=harvest_blooming&direction=asc" class="dropdown-item ">By Harvest Season</a>               
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Herbs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=herb_seeds" class="dropdown-item">All Herb seeds</a>
                <a href="{% url 'products' %}?category=herb_seeds&sort=name&direction=asc" class="dropdown-item ">By Name</a>
                <a href="{% url 'products' %}?category=herb_seeds&sort=lifespan&direction=asc" class="dropdown-item ">By Lifespan</a>
                <a href="{% url 'products' %}?category=herb_seeds&sort=sowing_season&direction=asc" class="dropdown-item ">By Sowing Season</a>                 
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flowers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=flower_seeds" class="dropdown-item">All Flower seeds</a>
                <a href="{% url 'products' %}?category=flower_seeds&sort=name&direction=asc" class="dropdown-item ">By Name</a>
                <a href="{% url 'products' %}?category=flower_seeds&sort=lifespan&direction=asc" class="dropdown-item ">By Lifespan</a> 
                <a href="{% url 'products' %}?category=flower_seeds&sort=sowing_season&direction=asc" class="dropdown-item ">By Sowing Season</a>                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Garden Supplies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?gardening_supplies=True" class="dropdown-item">All Garden Supplies</a>
                <a href="{% url 'products' %}?gardening_supplies=True&sort=category&direction=asc" class="dropdown-item ">By Category</a>                
            </div>
        </li>

        <li class="nav-item no-dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link">
                FAQs
            </a>
        </li>

        <li class="nav-item no-dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link">
                About Us
            </a>
        </li>
    </ul>
</div>