<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group input-group-sm quantity-selector mx-auto">
            <div class="input-group-prepend">
                <button
                    class="btn btn-sm btn-outline-black rounded-circle qty-button decrement-qty"
                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                    <i class="fas fa-minus fa-xs"></i>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
            <div class="input-group-append">
                <button
                    class="btn btn-sm btn-outline-black rounded-circle qty-button increment-qty"
                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                    <i class="fas fa-plus fa-xs"></i>
                </button>
            </div>
        </div>
    </div>
</form>