<div class="toast custom-toast text-black" data-autohide="false">
    <div class="toast-content">
        <div class="toast-icon warning">
            <i class="fas fa-exclamation-triangle"></i>
        </div>
        <div class="toast-message">
            <h4>Warning</h4>
            <p>{{ message }}</p>
        </div>
    </div>
    <button type="button" class="toast-close" data-dismiss="toast" aria-label="Close">
        <i class="fas fa-times"></i>
    </button>
    <div class="toast-progress"></div>
</div>